._39hc{padding:40px 0}
._4_8i{display:inline-block;height:100%}._4_8i:before{content:'';display:inline-block;height:100%;vertical-align:middle}
._4-o9{background-image:url(/rsrc.php/v3/yf/r/qT-uIvAuDq3.png);background-repeat:no-repeat;background-size:15px 15px;background-position:0 0;display:inline-block;height:14px;opacity:.4;position:absolute;top:20px;transition:opacity .2s;vertical-align:top;width:14px;z-index:4}._2chv{position:fixed}._5wx3{left:20px}._5wx4{right:20px}._4-o9:hover{opacity:1}

#bootloader_ROAr_{height:42px;}.bootloader_ROAr_{display:block!important;}